html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* // git add README.md
// git commit -m "first commit"
// git branch -M main
// git remote add origin https://github.com/Jafar-Badinlou/template-1.git
// git push -u origin main
 */
